<app-modal width="300px">
  <p class="text-purple font-bold">
    {{ actualUser == null ? "Agregar Usuario" : "Actualizar Usuario" }}
  </p>
  <br />
  <p>
    {{
      actualUser == null
        ? "A continuación podras agregar un nuevo usuario al sistema"
        : "A continuación podras actualizar este usuario"
    }}
  </p>

  <form [formGroup]="actualUser == null ? form : formUpdate">
    <mat-form-field appearance="outline" class="mt-5 w-full relative">
      <mat-label>Nombres</mat-label>
      <input
        matInput
        placeholder="Ingresa los nombres"
        formControlName="names"
      />
      <mat-error *ngIf="names.invalid">Campo Obligatorio</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="mt-2 w-full relative">
      <mat-label>Correo Electrónico</mat-label>
      <input
        matInput
        placeholder="Ingresa el correo electrónico"
        formControlName="email"
      />
      <mat-error *ngIf="email.invalid">{{ getErrorEmailMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      class="mt-2 w-full"
      *ngIf="actualUser == null"
    >
      <mat-label>Ingresa tu contraseña</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        [formControl]="password"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Rol</mat-label>
      <mat-select [formControl]="rol">
        <mat-option value="Super Administrador">Super Administrador</mat-option>
        <mat-option value="Administrador">Administrador</mat-option>
        <mat-option value="Consumidor">Consumidor</mat-option>
      </mat-select>
    </mat-form-field>
    <span>Estado: </span>
    <app-chip
      [value]="enabled.value"
      (onChange)="enabled.setValue($event)"
      class="inline-block translate-y-1"
    ></app-chip>
    <div class="grid grid-cols-2 gap-2 mt-5">
      <button
        mat-flat-button
        [disabled]="this.actualUser == null"
        (click)="deleteUser()"
        class="bg-red rounded text-white"
      >
        Eliminar
      </button>
      <button
        mat-flat-button
        class="bg-green rounded text-white"
        [disabled]="actualUser == null ? form.invalid : formUpdate.invalid"
        (click)="this.actualUser != null ? updateUser() : createUser()"
      >
        {{actualUser == null ? 'Crear' : 'Actualizar'}}
      </button>
    </div>
  </form>
</app-modal>
