<div class="w-[50vw] h-[100vh] float-left bg-white flex items-center justify-center bg-left">
    <div class="w-[470px] h-[470px] border border-solid border-gray bg-white shadow-lg text-center rounded-lg">
        <p class="text-purple2 text-center mt-5 font-bold text-28">Iniciar Sesión</p>
        <img class="w-[120px] inline-block mt-5" src="assets/images/dino-profile.png" alt="dino profile"><br>
        <mat-form-field appearance="outline" class="mt-5 w-2/3 relative">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Ingresa tu usuario">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-2/3 relative">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" placeholder="Ingresa tu contraseña">
        </mat-form-field><br>
        <button mat-button class="bg-purple2 w-1/4 rounded text-white">Entrar</button>
    </div>
</div>
<div class="w-[50vw] h-[100vh] bg-purple float-right text-center relative">
    <img src="assets/images/logo-circle.png" alt="logo" class="mt-10 w-[150px] inline-block">
    <p class="mt-5 text-white font-bold text-36">Control Financiero del Hogar ©</p>
    <p class="mt-16 text-white font-bold text-18 w-[380px] inline-block">“Mantén el control del presupuesto familiar y lleva el control de tu dinero”</p><br>
    <img src="assets/images/dinos-login.png" alt="logo" class="mt-10 inline-block w-2/3">
    <div class="w-full bg-purple_dark h-10 flex items-center justify-center absolute bottom-0">
        <p class="text-white text-12">Versión BETA</p>
    </div>
</div>